
## The configuration file accepts a series of set and unset commands, which
## can be used to configure nano on startup without using command-line options.
## Nanorc Man Page: https://www.nano-editor.org/dist/latest/nanorc.5.html


# Stop at word ends instead of beginnings
set afterends

# Wrap lines at blank characters instead of the edge of screen
set atblanks

# Automatically indent newly created line
set autoindent

# Characters treated as closing brackets
set brackets ""')>]}"

# Automatically hard-wrap the current line when overlong
set breaklonglines

# Report cursor position on the status bar
set constantshow

# Status bar color when error message is desplayed
set errorcolor white,red

# Function Color
set functioncolor blue

# Show scrollbar
set indicator

# Scroll half-screen
set jumpyscrolling

# Color combination for shortcut key at bottom screen help lines
set keycolor white,black

# Enable line numbers
set linenumbers

# Specify opening and closing brackets
set matchbrackets ""(<[{")>]}"

# Suppress title bar and show information at bottom screen
set minibar

# Color combination for minibar
set minicolor white,black

# Enable mouse support
set mouse

# Don't convert files from DOS/Mac format
set noconvert

# Color combination for line numbers
set numbercolor white,black

# Color combination for the prompt bar
set promptcolor black,white

# Display lines that exceed the screen's width
set softwrap

# Show state flag on top-tight corner screen
set stateflags

# Color combination for statusbar
set statuscolor white,black

# Set tab size of number columns
set tabsize 4
